#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #252525;
  color: #e6e6e6;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
