* {
  box-sizing: border-box;
}

.button-wrapper {
  width: 6rem;
  height: auto;
  border-radius: 2rem;
}

.button-wrapper.on {
  background-color: #6aa84f;
}

.button-wrapper.off {
  background-color: #e2e2e2;
}

.toggle-button {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  transition: transform 0.15s ease;
}

.toggle-button.on {
  transform: translateX(4rem);
}

.toggle-button.off {
  transform: translateX(0rem);
}

.toggle-button:focus {
  outline: none;
}
